

    @import url('https://fonts.googleapis.com/css2?family=Livvic&display=swap');

body {
    font-family:sans-serif;
    background: linear-gradient(1500deg,#0b0a43,#2458d3,rgb(9,45,65));
    background-color: #f3f1f1;
    /* margenes 0 para que el backgorund del header no tenga espacion en blanco*/
    margin: 0%;
    padding: 0%;
    
}

h1,h3{  
    margin: 0;
}

h3{
    color: white;
    font-weight: normal;
}

h2{
    margin-top: 6%;
    
}
h4{
    color: white;
    font-size: 120%;
    font-family: "Acme", sans-serif;
    font-weight: normal;
}
header {
    
    height: 10em;
    color: white;
    /* le agrego pading(relleno) para que el background no tenga espacios en blanco*/
    text-align: center;
    text-shadow: 2px 2px 5px rgba(25, 25, 25, 0.8); /*SOMBREADO TEXTO */
    font-family: "Acme", sans-serif;
    font-size: 1em;
   
    
    
}

main {
        text-align: center;
        /* el maxwidth le da el ancho maximo que puede tener el contendido dentro del main*/
        max-width: 50%;
        /* utilizo el  auto margin para centrarlo y el 20px para alejarlo un poco del header*/
        margin:  20px auto ;
        /* utilizo el pading para dar espacio entre los elementos dentro del main*/
        padding: 20px;
        /*el color del contenedor*/
        background-color: rgba(25, 25, 25, 0.5);

        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombreado al borde */
        
        
    
            
          
           }
    
footer{
   
    text-align: center;
    padding: 1em; /* Espaciado interno del pie de página */
}
footer ul{
    color: white;
}

label {
    /*segun chatgpt la carecteristica display define el compartimiento de visualizacion y al darle block se muestra como bloque, es decir,
     uno abajo del otro*/
    display: block;
    /*margen entre label y label*/
    color:#ffffff;
    margin: 2% ;
    font-family: 'Livvic';
    
}

input{
    font-family: 'Livvic';
    border: none; /* Elimina el borde predeterminado */
    background: transparent; /* Fondo transparente */
    border-bottom: 1px solid #ffffff; /* Añade un subrayado */
    cursor: pointer; /* Cursor cambia al puntero */
    border-radius: 1px  #ccc;
    padding: 1%;
    color:rgb(211, 211, 20);
    outline: none; /* Elimina el contorno predeterminado cuando lo seleccionas */
    
    
}

.opcion-cupon label{
    display: inline-block; /* Muestra rapipago y pago facil en LINEA */
}

a{
    font-family: 'Livvic';
    color:black ; /* Color de los enlaces en blanco */
    text-decoration: none; /* Sin subrayado */
    font-weight: bold;
    
}
.botones button{
    color: white; /* Color del texto blanco */
    padding: 10px 20px; /* Espaciado interno del botón */
    border: none; /* Sin borde */
    border-radius: 5px;
    cursor: pointer; /* Cursor cambia al puntero */
    margin: 5px;
}
.boton-confirmar{
    background-color:rgb(211, 211, 20);
    
    
    
}
.boton-cancelar{
    background-color: #e80000; /* Color de fondo celestito */
    
    
}
