@import url("https://fonts.googleapis.com/css2?family=Livvic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

/* Generales */
* {
  margin: 0;
  padding: 0;
  color: white;
  text-decoration: none;
}

/* Layout de página con GRID */
body {
  background: linear-gradient(1500deg, #0b0a43, #2458d3, rgb(9, 45, 65));
  min-height: 100vh;
  display: grid;
  grid-template-areas: 
  "header header header"
  "main main main"
  "main main main"
  "main main main"
  "main main main"
  "main main main"
  "main main main"
  "main main main"
  "footer footer footer"
  ;
}
/* Definición de Areas en grid */
.header{
  grid-area: header;
  position: sticky;
  height: 52%;
}
.main{
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
}
.footer{
grid-area: footer;
}

/* Main */
.detalle-serie{
  display: flex;
  flex-direction: row;
}



