
img{
    height: 10em;
    border-radius: 5em;
    margin: 5px;
}
*{
    margin: 0;

}
body{
    background: linear-gradient(1500deg,#0b0a43,#2458d3,rgb(9,45,65));
}
header{
    text-align: center;
    
    }
    h1{
       font-size: medium;
    }
nav{
    display: grid;
    grid-template-columns: 10% auto;
}
ul{
    display: grid;
    grid-template-columns: auto auto auto auto auto;

    
}
li{
    
    list-style: none;
}
li h1{
    text-align: left;
}

h2{
    text-align: center;
    
}

main{
   display: block;
  margin: 5px;
  background-color: rgba(25, 25, 25, 0.5);
height: 400px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombreado al borde */
}

section{
    display: grid;
    grid-template-columns: auto auto auto;
    
   
}


.datos-usuario{
   
    display: grid;
    grid-template-rows: auto auto auto auto;
   padding: 5px;
}

.lascontras{
    display: block;
    margin: 0px 10px 10px 0px;
}


.foto{
   
    text-align: center;

}

.ingreso{
    border-style: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    margin-right: 5px;
}

.pagos{
    display: grid;
    grid-template-rows: auto auto auto;
}

.labeltarjeta{
    display: block;
    
    
    
}

.radios{
    margin: 5px;
}
.efectivo{
    display: inline;
    text-align: center;
}