
@import url("https://fonts.googleapis.com/css2?family=Livvic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

*{
    margin: 0;
    color: white;
    font-family: 'Livvic';
}

a{
    text-decoration: none;
}

img{
    height: 13em;
    border-radius: 5em;
    margin: 5px;
}

body{
    background: linear-gradient(1500deg,#0b0a43,#2458d3,rgb(9,45,65));
    justify-content: center;
    height: 100vh;
    margin: 0%;
    padding: 0%;
}

header{
    text-align: center;
    text-align: center;
    font-weight: bolder;
    font-size: 1em;
    margin-bottom: 10em;
}

ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

li{
    list-style: none;
}

li h1{
    text-align: left;
}

h2{
    text-align: center;
}

.mi-perfil{
    padding: 0.8em;
}

main{
    display: block;
    margin: 0 auto;
    background-color: rgba(25, 25, 25, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombreado al borde */
    max-width: 70em;
    margin-bottom: 12.25em;
}

section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    grid-template-rows: 80% 20%;
    padding: 1.5em 0em;
    border-top: 1px black solid;
}

.datos-usuario{
    display: grid;
    grid-template-rows: 4;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.datos-usuario label{
    padding: 1em 0em;
    font-size: larger;
}

.formulario label{
    display: block;
}

.formulario input{
    display: inline;
}

.nueva-contraseña label{
    display: block;
    margin-bottom: 0;
}

.foto{
    text-align: center;
    align-items: center;
}
.foto p{
    margin: 0.8em;

}

.ingreso{
    border-style: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    background-color: transparent;
    margin: 0.5em;
}

.pagos{
    display: grid;
    grid-template-rows: auto auto auto;
    justify-self: center;
    /* margin-left: 10em; */
}

.tarjetas{
    padding: 1em 0em;
}

.labeltarjeta{
    display: block; 
    margin: 0.5em;
    margin-left: 0;
    text-align: center; 
}

.numero-tarjeta{
    display: block;  
    text-align: center;  
    margin: 1em 0em;
}

.codigo-cvv{
    display: block;
    text-align: center;
}

.radios{
    margin: 0.5em;
}

.efectivo{
    display: inline;
    text-align: center;
    padding: 1em 0em;
}

.banco{
    padding: 1em 0em;
    text-align: center;
}

h1 a{
    font-family: 'Acme';
}

h4{
    text-align: center;
    font-size: large;
}

#tarjeta_credito{
    margin: 0.5em;
    margin-left: 0;
}

#pago_facil{
    margin-right: 0.7em;
}

#rapi_pago{
   padding-left: 2em;
}

.guardar-cambios{
    color: black;
    background-color: yellow;
    border: none;
    border-radius: 2em;
    height: 3em;
    margin: 2em;
    padding: 1em;
}

.cancelar-suscripcion{
    color: black;
    background-color: red;
    border: none;
    border-radius: 2em;
    height: 3em;
    padding: 1em;
}

.botones{
    display: block;
    text-align: center;
    margin: 0 auto;
}

.contrasenia{
    display: block;
}

form input{
    display: block;
    border-style: none;
    background-color: transparent;
    border-bottom: 1px white solid;
}

.datos-usuario-email{
    padding-inline: 0%;
}

.formulario{
    margin-bottom:2.5em;
}

.guardar-cambios:hover{
    background-color: #2458d3;
    cursor: pointer;
}

.cancelar-suscripcion:hover{
    background-color: coral;
    cursor: pointer;
}

.ingreso{
    margin: 0;
}

#em{
    padding: 0%;
    margin-bottom: 0.5em;
}

@media screen and (max-width: 640px) {
    .principal-nav {
        flex-direction: column;
        align-items: center;
    }
    .titulo {
        margin-bottom: 1em;
    }
    ul {
        grid-template-columns: 1fr;
    }
    .miCuenta {
        margin-top: 1em;
    }
    main {
        max-width: 90%;
    }
    section {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
    }
    .datos-usuario {
        grid-row: auto;
    }
    .pagos {
        grid-row: auto;
    }
    .tarjetas, .efectivo, .banco {
        margin: 1em auto;
    }
    .guardar-cambios, .cancelar-suscripcion {
        margin: 1em auto;
    }
}

@media screen and (min-width: 641px) and (max-width: 912px) {
    main {
        max-width: 90%;
        
    }
    .guardar-cambios, .cancelar-suscripcion {
        margin: 1em auto;
    }
}


@media screen and (min-width: 913px) and (max-width: 1025px) {
    main {
        max-width: 70%;
    }
    .guardar-cambios, .cancelar-suscripcion {
        margin: 1em auto;
    }
}