@import url('https://fonts.googleapis.com/css2?family=Livvic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

.body{
    background: linear-gradient(1500deg,#0b0a43,#2458d3,rgb(9,45,65)); 
    margin-top: 5.5em;
}

.body-principal{
    margin: 1em 32em 5.4em 32em; /*Margenes externos*/
    padding: 0.5em 1em 6em 1em; /*Bordes internos arriba, derecha, abajo, izquierda*/
    border-radius: 1.4em; /*Redondeo bordes*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombreado al borde */
}

.body-principal h2{
    text-align: center; /*Centro el texto*/ 
    font-family: 'Livvic';
    font-size: 2em;
    padding: 0.5em 1em 0.2em 1em;
}

.body-principal label{
    display: block; /*Transformo label en bloque*/
    text-align: center; /*Centro el texto*/ 
    font-family: 'Livvic';
    font-size: 1em;
}

.body-principal input{
    font-family: 'Livvic';
    background: transparent;
    border: none;
    display: block;
    margin-left: 33%;
    height: 25px;
    padding: 5px;
    margin-top: 1%;
    outline: none;
    border-bottom: 1px solid #ffffff; /* Añade un subrayado */
}

.header-titulo{
    color: white;
    text-align: center;
    font-family: "Acme", sans-serif;
    font-size: 3em;
    font-weight: bolder; /*NO HACE FALTA ESTA LIINEA*/
    text-shadow: 2px 2px 5px rgba(25, 25, 25, 0.8); /*SOMBREADO TEXTO */ /*PREGUNTAR A FACU*/
}


.boton-confirmar{
    font-family: 'Livvic';
    font-size: 15px;
    background-color:rgb(211, 211, 20);
    padding: 4% 6.5%; /*Agrando el boton*/
    border-radius: 30px; /*Redondeo bordes*/
    border-style: none; /*Saco el subrayado y los estilos que tiene el tipo sub*/
    margin: 9% 1% 1% 1%; 
    margin-left: 21%;/*Doy un margen a la izquierda del 40%*/
    cursor: pointer; /* Cursor cambia al puntero */
}
    

 .boton-cancelar{
    font-family: 'Livvic';
    font-size: 15px;
    background-color: #e80000;
    padding: 4% 6.5%;
    border-radius: 30px;
    border-style: none;
    cursor: pointer; /* Cursor cambia al puntero */
    margin-left: 2%; /*Margen de separación con el boton de confirmar*/
}
    
label{
    color:#ffffff;
    font-family: 'Livvic';
}


