@import url('https://fonts.googleapis.com/css2?family=Livvic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

body{
    background: linear-gradient(1500deg,#0b0a43,#2458d3,rgb(9,45,65));
    margin: 0%;
    margin-top: 35px;
    padding: 0%;
    height: 100vh;
}

header{
    text-align: center;
    font-weight: bolder;
    font-size: 1.5em;
    font-family: "Acme", sans-serif;
    color: #ffffff;
    text-shadow: 2px 2px 5px rgba(25, 25, 25, 0.8); 
}
header h1{
    margin-bottom: 10px;
}

h3{
    font-family: "Acme", sans-serif;
    font-size: 0.8em;
    font-weight: bolder;
    text-align: center;
    margin: 0;
}

main{
    background-color: rgba(25, 25, 25, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    text-align: center;
    margin-top: 50px;
    margin-right: 600px;
    margin-left: 600px;
    margin-bottom: 240px;
    padding-bottom: 15px;
    border-radius: 15px;   
}

.encabezado{
   padding-top: 10px;
}

label{
    display: block;
    margin: 5px;
}

.botones{
    margin: 10px;
    margin-top:30px;
}

button{
    border: none;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    font-family:'Livvic';
    color:black ; 
    font-weight: bold;
}

.boton-confirmar{
    margin-right: 15px;
    background-color: rgb(211, 211, 20);
    background-color: rgb(211, 211, 20);
    border-radius: 5px;
}

.boton-cancelar{
    background-color:#e80000;
}

a{
    text-decoration: none;
    font-family:   'Livvic';
    color:black ; 
    font-weight: bold;
}

h2{
    color: white;
    font-family: "Acme", sans-serif;
}

label {
    color:#ffffff;
    margin-right: 40px;
    font-family: 'Livvic'; 
}

input{
    border: none;
    background: transparent; 
    border-bottom: 1px white solid;
}

a{
    text-decoration: none;
    font-family:   'Livvic';
    color:black ; 
    font-weight: bold;
}

article{
    margin-top: 35px;      
}

button:hover{
    background-color: #bc9e9e;
}

@media screen and (max-width: 640px) {
    header {
        font-size: 1.2em;
    }
    main {
        margin-left: 10px;
        margin-right: 10px;
    }
}


@media screen and (min-width: 641px) and (max-width: 912px) {
    main {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media screen and (min-width: 913px) and (max-width: 1024px) {
    main {
        margin-left: 200px;
        margin-right: 200px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
    main {
        margin-left: 300px;
        margin-right: 300px;
    }
}

