.central{
    background-color: grey;
    border: 1px solid rgb(0, 0, 0);
    margin: 1em;

}

header{
    padding: 0.5em;
    border-bottom: 1px solid rgb(0, 0, 0);
    
}

main{
    background-color: aqua;
    height: 450px;
    width: auto;
}

.universidad{
    display: inline-flex;
    background-color: blue;
    padding: 10em;
    margin: 1em 0em 0em 1.2em;
    padding-bottom: 3em;

}

.ingresoDeDatos{
    display: inline-flex;
    background-color: red;
    padding: 10em;
    padding-right: 15em;
    margin: 1em 0.5em 15em 1em;
}

footer{
    background-color: rgb(33, 179, 64);
    text-align: center;
    padding: 1em;
    border-top: 1px black solid;
}


/*
padding: 1em, 0.5, 10em, 1em;
margin: 1em, 0.5, 10em, 1em;*/