body{
    margin: 1px;
    padding: 0;
    border: 1px solid black;
}

header{
    border-bottom: 1px black solid;
    
}
h1{
    margin: 2px;
   font-family:Arial, Helvetica, sans-serif;
   font-weight: normal;
}

article{
    border: 1px black solid;
    display: inline-block;
    margin: 5px;
    
}

footer{
    border-top: 1px black solid;
}

main{
   margin: 100px;
    
   text-align: center;
}

#facultad p{
    margin: 100px;
}


.Universidad label{
   display: block;
  margin-right: 170px;
  margin-bottom: 5px;
 margin-top: 5px;
}

.Universidad input{
  width: 90%;
 
}

.color label{
display: block;
margin-right: 170px;
margin-left: 5px;
margin-top: 5px;

}

.color input{
    margin-top: 5px;
    width: 90%;
}

.cambiar p{
    margin-right: 170px;
    margin-left: 5px;
}

.cambiar input{
    margin-bottom: 40px;
   
}
.xd{
    margin-right: 130px;
    margin-left: 5px;
}