@import url('https://fonts.googleapis.com/css2?family=Livvic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

body{
    background: linear-gradient(1500deg,#0b0a43,#2458d3,rgb(9,45,65)); 
    margin: 0%;
}

.tituloMarca {
    text-align: center;
    font-family: "Acme", sans-serif;
    font-size: 2em;
    color: rgb(255, 255, 255);
}

div{
    color: white;
    padding: 0.5em 0.7em;
    background: linear-gradient(1500deg,#0b0a43,#2458d3,rgb(9,45,65));
}

div .nombreMarca{
    display: inline;
    font-family: "Acme", sans-serif;
    font-size: 1em;
    color: #ffffff;
}

div nav{
    background-color: aquamarine;
    display: inline;
    text-align: center;
    padding: 0.3em;
    margin: 0;
    border: 0;
    outline: 0;
}

div .menuDeOpciones{
    display: inline;
    float: right;
    margin: 0;
}


.fa-solid{
    background-color: aqua;
    margin-left: 28.5em;
    padding: 0.35em;
}

#menu{
    border: 0;
    margin-left: 1.5em;
    padding: 0.2em;
    border-radius: 0.2em;
}
