.carrousel-cell {
    width: 20%; /* Ajusta el ancho del contenedor según tus necesidades */
    max-width: 20%; /* Ejemplo: máximo ancho permitido para el contenedor */
    position: relative; /* Importante para alinear correctamente la imagen */
    overflow: hidden; /* Evita que la imagen sobresalga del contenedor */
    height: 15em; /* Altura específica del contenedor */
    border-radius: 10px;
    margin: 0 5px;
}

.carrousel-cell img {
    width: 100%; /* La imagen ocupa el ancho completo del contenedor */
    height: 100%; /* La imagen ocupa la altura completa del contenedor */
    object-fit: cover; /* La imagen se ajusta cubriendo el contenedor */
    position: absolute; /* Permite que la imagen ocupe todo el espacio del contenedor */
    top: 50%; /* Centra verticalmente la imagen */
    left: 50%; /* Centra horizontalmente la imagen */
    transform: translate(-50%, -50%); /* Ajusta la posición para centrar */
}