@import url("https://fonts.googleapis.com/css2?family=Livvic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

/* Generales */
* {
  margin: 0;
  padding: 0;
  color: white;
  text-decoration: none;
}

/* Layout de página con GRID */
body {
  background: linear-gradient(1500deg, #0b0a43, #2458d3, rgb(9, 45, 65));
  min-height: 150vh;
  width: 100%;
  display: grid;
  grid-template-rows: 7%;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

/* Definición de Areas en grid */
.header {
  grid-area: header;
  position: sticky;
}

.main {
  /* padding-left: 1em; */
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 1em;
  padding-left: 1em;
}

.footer {
  grid-area: footer;
}

/* Main */
.detalle-serie {
  display: grid;
  grid-template-columns: 40% 50%;
  height: 60%;
  column-gap: 2em;
  width: 100%;
}

/* --------------- iframe y boton comenzar (1er elemento) */
.detalle-serie .iframe-comenzar {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.iframe-comenzar iframe {
  width: 100%;
  height: 30em;
  border-radius: 15px;
  box-shadow: 1px 1px 10px rgb(173, 172, 172);
}

.iframe-comenzar a button {
  border: none;
  border-radius: 0.5em;
  padding: 1em;
  width: 100%;
  height: 3em;
  background: linear-gradient(1500deg, #0b0a43, #0b389f, rgb(9, 45, 65));
  font-family: "Acme";
  font-size: 1em;
}

.iframe-comenzar a button:hover {
  cursor: pointer;
  border: 1px solid black;
  box-shadow: 1px 1px 5px rgb(109, 108, 108);
}

/*--------------- Info-Serie Temporadas y Sinopsis (2do elemento) -------------*/
.detalle-serie .info-serie {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 3.5em;
}

.info-serie .campo-atributos {
  display: flex;
  flex-direction: column;
  height: 30%;
  justify-content: space-around;
  align-content: center;
}

.campo-atributos .primero {
  display: flex;
  flex-direction: row;
  gap: 2.5em;
  align-items: center;
}

.campo-atributos .segundo {
  display: flex;
  flex-direction: row;
  gap: 2em;
  align-items: center;
}

.campo-atributos .tercero {
  display: flex;
  flex-direction: row;
  gap: 2em;
  align-items: center;
}

/* Seleccionar temporadas y capitulo */
.temporadas form label {
  font-family: "Livvic";
}

.temporadas form {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  gap: 2em;
}

/* Edit de Textos (h4,span y links) */
h4 {
  color: yellow;
  font-family: "Livvic";
  font-weight: bolder;
  font-size: 1.5em;
}

span {
  font-size: 1.5em;
  font-family: 'Livvic';
}

.tercero a {
  font-size: 1.5em;
}

/* Edit de selectores y opciones de temporadas y capitulos */
.temporadas select {
  border: none; /* Elimina el borde predeterminado */
  border-radius: 20px;
  outline: none; /* Elimina el contorno predeterminado */
  background: transparent; /* Fondo transparente */
  background-color: rgba(25, 25, 25, 0.5);
  color: rgb(211, 211, 20);
  font-family: "Livvic";
  font-weight: bolder;
  padding: 1.5%;
}

.temporadas select option {
  background: black;
  color: rgb(211, 211, 20);
  font-family: "Livvic";
  font-weight: bolder;
}

/* -------------- SINOPSIS (3er elemento) -------------------- */
.sinopsis {
  height: 20%;
}
.sinopsis p {
  font-size: 1.5em;
  font-family: "Livvic";
}

/* -------------- SIMILARES ------------------- */
.similares{
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.similares .grid-similares a img{
  height: 100%;
  width: 100%;
  /* Al darle 100% en ancho y alto la imagen ocupa el mismo
  tamaño del padre, es decir de la etiqueta "a", el tamaño
  de la etiqueta "a", lo definimos luego en el template columns
  con la función repeat(autofill,minmax("minimo", máximo)) */
}
.similares h2{
  font-family: 'Acme';
  border-bottom: 1px solid white;
}
.similares .grid-similares{
  padding-top: 1em;
  display: grid;
  grid-template-columns:repeat(auto-fill,minmax(10em, 1fr));
  column-gap: 2em;
}
.grid-similares a img:hover{
  transform: scale(1.02);
  transition-duration: 0.7s;
  box-shadow: 1px 1px 15px #ffffff;
}

/*------------------ Footer --------------------*/
.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0b0a43;
}



/* ------------- Media querys ---------------*/

/* 
640 px mobile
900 tablet
1024 1280 desktop */



/* 640px vista mobile */
@media  screen and (max-width: 640px) {
  
  body {
    width: 100%;
    min-height: 300vh;
    background: linear-gradient(1500deg, #0b0a43, #2458d3, rgb(9, 45, 65));
    display: grid;
    grid-template-rows: 2.5%;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
  }

  /* Definicion de areas */
  .header {
    grid-area: header;
    width:100% ;
  }
  .main {
    /* padding-left: 1em; */
    grid-area: main;
    width:100% ;
    padding: 0;
    
  }
  .footer {
    grid-area: footer;
    width:100% ;
  }

  .iframe-comenzar{
    grid-area: iframe-comenzar;
  }
  .info-serie{
    grid-area: info-serie;
  }
  .temporadas{
    grid-area: temporadas;
  }

  /* ----------- Comienzo del main ----------- */
  .detalle-serie {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-areas: 
    "iframe-comenzar"
    "info-serie"
    "temporadas"
    ;
    height: 60%;
    /* column-gap: 2em; */
    width: 100%;
  }

  .detalle-serie .info-serie{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
}

.info-serie .campo-atributos{
  gap: 1em;
  align-items: center;
}

.info-serie .campo-atributos .primero{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
}
.info-serie .campo-atributos .segundo{
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
}
.info-serie .campo-atributos .tercero{
  display: flex;
  flex-direction: column;
  gap:0em;
  align-items: center;
  }

  /* Edit de Textos (h4,span y links) */
h4 {
  color: yellow;
  font-family: "Livvic";
  font-weight: bolder;
  font-size: 1em;
}
span {
  font-size: 1em;
}
.tercero a {
  font-size: 1em;
}

.detalle-serie .temporadas form{
flex-direction: column;
align-items: center;
}

/* Sinopsis */
.sinopsis{
  height: 10%;
}
.sinopsis p{
  font-size: 1em;
}


}

/* 1020 px vista tablet */
@media  screen and (max-width: 640px){
  body {
    width: 100%;
    min-height: 300vh;
    background: linear-gradient(1500deg, #0b0a43, #2458d3, rgb(9, 45, 65));
    display: grid;
    grid-template-rows: 2.5%;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
  }
}
