@import url("https://fonts.googleapis.com/css2?family=Livvic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
   background: linear-gradient(1500deg, #0b0a43, #2458d3, rgb(9, 45, 65));
  background-attachment: fixed;
  background-image: url(Banner-Bomflix.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* NAV */
.login-header {
  /* max-width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  text-shadow: 2px 2px 5px rgba(25, 25, 25, 0.8); 
  border-radius: 2em;
  margin: 2em 0;
}

.login-header h1 {
  text-align: center;
  font-weight: bolder;
  font-size: 3em;
  font-family: "Acme", sans-serif;
}

.login-header h3 {
  font-family: "Acme", sans-serif;
  font-weight: normal;
  text-align: center;
}

/* MAIN_RECUADRO */

.login-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Livvic";
  height: 350px;
  width: 350px;
}

.login-main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 5em;
  background: linear-gradient(1500deg, #0b0a43, #142f6e, rgb(2, 33, 49));
  border-radius: 15px;
  height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

.login-main-section form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.login-main label {
  color: #ffffff;
  margin: 5% 0;
  font-family: "Livvic";
}

.login-main input {
  font-family: "Livvic";
  border: none; 
  outline: none; 
  background: transparent; 
  border-bottom: 1px solid #ffffff; 
  padding: 5% 0;
  color: rgb(211, 211, 20);
}

.login-main button {
  margin: 5% 0;
  padding: 1em 2em;
  background-color: rgb(211, 211, 20);
  border: none;
  border-radius: 5px;
  color: #0b0a43;
  text-decoration: none;
  font-weight: bold;
  font-family: "Livvic";
}

.login-main div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.login-main div a{
  text-decoration: underline; 
  font-family: "Livvic";
  color: #c1d2fa;
}

.login-main button:hover {
  background-color: rgb(211, 211, 20, 0.7);
  cursor: pointer;
  box-shadow: 1px 1px 5px #ffffff;
}

.login-main button:hover {
  color: #ffff;
  text-decoration: wavy;
}


.login-main div a:hover {
  text-shadow: 1px 1px 5px #ffffff;
}

.login-main div p {
  text-decoration: underline; 
  font-family: "Livvic";
  color: #d60e0e;
  text-shadow: 1px 1px 2px #ec5d5d;
  text-align: center;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 640px) {

  .login-header {
    height: 7em;
    border-radius: 1em;
  }
  
  .login-header h1 {
    font-size: 2em;
  }

  .login-main-section {
    padding: 0 5em; 
  }
}