@import url("https://fonts.googleapis.com/css2?family=Livvic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

* {
  margin: 0;
  padding: 0;
}

/* _____MAIN______ */
body{
  min-height: 100vh;
  max-width: 100%;
}



main h2 {
  text-align: center;
  font-family: "Livvic";
  font-weight: bolder;
  color: yellow;
  text-shadow: 2px 2px 5px rgba(25, 25, 25, 0.8); /*SOMBREADO TEXTO */
  font-size: 2em;
  text-decoration: underline;
  text-decoration-color: #ffffff;
}

.peliculas-flex {
  display: flex;
  flex-direction: row;
  padding: 1% 2%;
}

.barra-lateral {
  margin-right: 2%;
  font-family: "Livvic";
  font-weight: bolder;
  color: #ffffff;
}

.peli-buscar, .peli-titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.barra-lateral input {
  margin-top: 10px;
  border: none; /* Elimina el borde predeterminado */
  border-radius: 20px;
  outline: none; /* Elimina el contorno predeterminado */
  background: transparent; /* Fondo transparente */
  background-color: rgba(25, 25, 25, 0.5);
  padding: 5%;
  color: rgb(211, 211, 20);
  justify-content: center;
}

.barra-lateral button {
  font-family: "Livvic";
  margin-bottom: 20px;
  margin-top: 5px;
  padding: 2%;
  outline: none;
  border: none;
  border-radius: 5px;
}

.barra-lateral button:hover {
  background-color: rgb(211, 211, 20);
  border: solid 1px;
  border-color: #ffffff;
}

.barra-lateral form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  gap: 5px;
  font-family: "Livvic";
}

.barra-lateral select {
  border: none; /* Elimina el borde predeterminado */
  border-radius: 20px;
  outline: none; /* Elimina el contorno predeterminado */
  background: transparent; /* Fondo transparente */
  background-color: rgba(25, 25, 25, 0.5);
  padding: 5%;
  color: rgb(211, 211, 20);
  font-family: "Livvic";
  font-weight: bolder;
}

.barra-lateral option {
  background-color: #0b0a43;
  font-family: "Livvic";
  font-weight: bolder;
  border-radius: 10px;
}

.grid-peliculas {
  border-radius: 5px;
  grid-gap: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
}

.grid-peliculas img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.grid-peliculas img:hover {
  transform: scale(1.03);
  transition-duration: 0.7s;
  box-shadow: 1px 1px 15px #ffffff;
}


@media screen and (max-width: 640px) {
  
  .peliculas-flex{
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 100%;
    margin: 0;

  }

  .barra-lateral{
    display: flex;
    flex-direction: column;
    margin-right: 0;
    padding: 0 0;
    margin-bottom: 3%;
  }

  .barra-lateral div{
    padding-bottom: 1%;
  }

  .barra-lateral form{
    display: flex; /* Utiliza flexbox para colocar los elementos uno al lado del otro */
    flex-direction: row;
    width: 100%;
  }

  .barra-lateral label{
    font-size: 0.9em;
    width: 40%;
  }

  .barra-lateral select{
    width: 60%;
  }

  .peli-titulo{
    display: none;
  }

  .peli-buscar{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 2%;
  }

  .barra-lateral input {
    margin-top: 0;
    padding: 1%;
    width: 80%;
  }
  
  .barra-lateral button {
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
    width: 20%;
  }
  
  .barra-lateral form {
    margin-bottom: 0;
    gap: 0;
  }
  
  .barra-lateral select {
    padding: 0;
  }

  .grid-peliculas {
    display: grid;
    grid-template-columns: repeat(3,auto);
  }

  
}
